@use '../helper' as *;

.accordion {
	display: flex;
	flex-direction: column;
	row-gap: 48px;

	&__item {
		& summary {
			list-style: none;
		}
	}

	&__title {
		color: white;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0;

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 30px;
			padding-bottom: 12px;
			margin-bottom: 12px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.35);
		}
	}

	&__arrow {
		--size: 12px;

		width: var(--size);
		height: var(--size);
		@include flex-center(true);
		transition-duration: var(--transition-duration-alt);
	}

	&__content {
		display: grid;
		grid-template-rows: 0fr;
		transition-duration: var(--transition-duration-alt);

		&-body {
			overflow: hidden;
		}
	}

	&__details[open] {
		& + .accordion__content {
			grid-template-rows: 1fr;
		}

		& .accordion__arrow {
			rotate: 180deg;
		}
	}
}