@use '../helper' as *;

.advantages {
  padding-block: 150px 110px;

  @include tablet {
    padding-top: 0px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 68px;
    }
  }

  &__content {
    max-width: 548px;
    width: 100%;

    opacity: 0;
    translate: -100% 0;
    transition-duration: var(--transition-duration-animation);

    &.is-visible {
      opacity: 1;
      translate: 0 0;
    }

    @include laptop {
      max-width: 460px;
    }

    &-subtitle {
      margin-bottom: 64px;
    }
  }

  &__image {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    translate: -50% -100%;
    min-width: 563px;
    height: auto;

    @include laptop {
      min-width: 500px;
    }

    @include mobile {
      min-width: 440px;
    }

    &-wrapper {
      position: relative;
      top: 60px;
      width: 400px;
      height: 500px;
      background-color: #252532;

      opacity: 0;
      translate: 0 20%;
      transition-duration: var(--transition-duration-animation);

      &.is-visible {
        opacity: 1;
        translate: 0 0;
      }

      @include tablet {
        top: 0;
      }

      @include mobile {
        width: 350px;
        height: 450px;
      }
    }

    &-video {
      position: absolute;
      top: 105%;
      left: 50%;
      z-index: 3;
      translate: 0 -100%;
      width: 196px;
      height: 128px;
      transition-duration: var(--transition-duration-alt);
      background: url('/images/advantages/video.jpg') center/100% no-repeat;

      &::before {
        @include abs-center;
        content: '';
        z-index: 3;
        width: 28px;
        height: 28px;
        transition-duration: var(--transition-duration);
        background: url('../../icons/play-button--welcome.svg') center/100% no-repeat;
      }

      @include hover {
        background-size: 110%;

        &::before {
          scale: 1.2;
        }
      }
    }

    &-bg {
      top: 50%;
      left: 50%;
      z-index: 1;
      filter: blur(70px);
      translate: -50% -50%;
    }

  }
}