@use '../helper' as *;

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;

    &--first {
        left: 100%;
        z-index: -1;
        width: 1070px;
        height: 520px;
        background: url('../../images/background-image--first.svg') top right/100% no-repeat;
        opacity: 0.4;
        translate: -100% 0;

        @include laptop {
            background-size: 70%;
        }

        @include mobile {
            background-size: 50%;
        }

        @include mobile-s {
            background-size: 35%;
        }
    }

    &--grid {
        top: 184px;
        z-index: -3;
        width: 1097px;
        height: 721px;
        background: url('../../images/grid.png') center left/100% no-repeat;

        @include mobile {
            top: 400px;
        }
    }

    &--back-hero {
        top: 0;
        left: 100%;
        z-index: -2;
        width: 567px;
        height: 340px;
        background: url('../../images/background-image--second.png') top/100% no-repeat;
        filter: blur(140px);
        translate: -100% -120%;
    }
}