@use '../helper' as *; // через абсолютный путь не работает, не знаю почему

.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 31px;
    }

    &__menu {
        color: #fff
    }

    &__list {
        @include flex-center;
        column-gap: 64px;
    }

    &__link {
        height: 52px;

        & span {
            @include flex-center();
        }

        &-text {
            @include hover {
                color: #D1D1D1;
            }
        }
    }

    &__link.is-current {
        font-weight: 500;
        cursor: default;
        pointer-events: none;
    }

    &__button {
        font-size: 16px;
        font-weight: 300;
        height: 52px;
        padding: 12px 24px;
    }
}