@use '../helper' as *; // через абсолютный путь не работает, не знаю почему

.header {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 31px;
    }

    &__logo {
        position: relative;
        z-index: 2;
    }

    &__menu {
        color: #fff;

        @include mobile {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            translate: -100% 0;
            padding: 100px 30px 30px 30px;
            background-color: rgba(37, 37, 50, 0.95);
            transition-duration: var(--transition-duration-alt);

            &.is-active {
                translate: 0 0;
            }
        }
    }

    &__list {
        @include flex-center;
        column-gap: clamp(30px, calc(64 / 1920 * 100 * 1vw), 64px);

        @include mobile {
            position: relative;
            z-index: 3;
            flex-direction: column;
            align-items: start;
            row-gap: 20px;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__item {
        @include mobile {
            display: block;
            width: 100%;
        }
    }

    &__link {
        height: 52px;

        & span {
            @include flex-center();
            pointer-events: none;
        }

        &-text {
            @include hover {
                color: #D1D1D1;
            }
        }
    }

    &__link.is-current {
        font-weight: 500;
        cursor: default;
        pointer-events: none;
    }

    &__button-wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__button {
        font-size: 16px;
        font-weight: 300;
        height: var(--button-height-alt);
        padding: 12px 24px;

        &--mobile-s {
            width: 100%;
        }
    }
}