@use '../helper' as *; // через абсолютный путь не работает, не знаю почему=

html.is-lock .header::after {
    background-color: #252532;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;

    &::after { // Задний фон для скролла
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgb(37 37 50 / 70%);
        opacity: 0; // вот что надо заменить
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition-duration: var(--transition-duration-alt);
    }

    &.is-scrolling::after,
    &.is-active::after {
        opacity: 1;
    }

    &.is-active .header__inner,
    &.is-scrolling .header__inner {
        padding-block: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition-duration: var(--transition-duration-alt);
        padding-block: 31px;
    }

    &__logo {
        position: relative;
        z-index: 2;
    }

    &__menu {
        position: relative;
        z-index: 2;
        color: #fff;

        @include mobile {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 100vh;
            padding: 100px 30px 30px;
            background-color: rgb(37 37 50 / 95%);
            transition-duration: var(--transition-duration-alt);
            overflow-y: auto;
            translate: -100% 0;

            &.is-active {
                translate: 0 0;
            }
        }
    }

    &__list {
        column-gap: clamp(30px, calc(64 / 1920 * 100 * 1vw), 64px);

        @include flex-center;

        @include mobile {
            position: relative;
            z-index: 3;
            flex-direction: column;
            align-items: start;
            row-gap: 20px;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__item {
        @include mobile {
            display: block;
            width: 100%;
        }
    }

    &__link {
        height: 52px;

        & span {
            pointer-events: none;

            @include flex-center;
        }

        &--a {
            @include hover {
                color: #D1D1D1;
            }
        }
    }

    &__link.is-current {
        font-weight: 500;
        cursor: default;
        pointer-events: none;
    }

    &__button-wrapper {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__button {
        height: var(--button-height-alt);
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 300;

        &--mobile-s {
            width: 100%;
        }
    }
}