@use '../helper' as *;

.how-started {
    padding-bottom: 100px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
    }

    &__header {
        width: 100%;
        max-width: 879px;
        text-align: center;
    }

    &__title {
        opacity: 0;
        translate: -200% 0;
        transition-duration: var(--transition-duration-animation);

        &.is-visible {
            opacity: 1;
            translate: 0 0;
        }
    }

    &__description {
        opacity: 0;
        translate: 100% 0;
        transition-duration: var(--transition-duration-animation);

        &.is-visible {
            opacity: 1;
            translate: 0 0;
        }
    }

    &__image {
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        transition-duration: var(--transition-duration-alt);

        @include abs-center;

        @include mobile-s {
            min-width: 500px;
            min-height: 250px;
        }

        &-wrapper {
            position: relative;
            width: 100%;
            max-width: 1200px;
            height: clamp(425px, 42vw, 522px);
            border-radius: 12px;
            opacity: 0;
            transition-duration: var(--transition-duration-animation);
            overflow: hidden;
            translate: 0 100%;

            @include tablet {
                height: clamp(320px, 42vw, 425px);
            }

            @include mobile {
                height: clamp(250px, 48vw, 320px);
            }

            @include hover {
                & .how-started__image {
                    scale: 1.1;
                }

                &::before {
                    width: 120px;
                    height: 120px;
                }
            }

            &.is-visible {
                opacity: 1;
                translate: 0 0;
            }

            &::before {
                width: 100px;
                height: 100px;
                background: url('/images/how-started/play-button.png') center/100% no-repeat;
                transition-duration: var(--transition-duration);
                content: '';

                @include abs-center;
            }
        }

        &-info {
            position: absolute;
            top: 52px;
            left: 34px;

            @include mobile {
                top: 22px;
                left: 16px;
            }
        }

        &-title {
            display: inline-block;
            margin-bottom: 12px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.43;
            letter-spacing: 0;
            color: #fff;
            background-color: rgba($color: #fff, $alpha: 30%);
            border-radius: 16px;
            padding-block: 2px;
            padding-inline: 10px;
        }

        &-description {
            font-size: 36px;
            font-weight: 500;
            line-height: 1.22;
            letter-spacing: -0.02em;
            color: #fff;

            @include mobile {
                font-size: 20px;
            }
        }
    }

    &__button {
        opacity: 0;
        translate: 0 200%;
        transition-duration: var(--transition-duration-animation);

        &.is-visible {
            opacity: 1;
            translate: 0 0;
        }
    }
}