.title {
	display: inline-block;
	margin-bottom: 12px; // Во всех случаях есть отступ вниз на 12px
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}