@use './helper' as *;

.container {
    max-width: calc(var(--container) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

.body2-text {
    font-size: 14px;
    font-weight: 400;
    color: #B0B0B2;
}

.body3-text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.hidden-tablet {
    @include tablet {
        display: none !important;
        background-color: red;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.hidden-mobile {
    @include mobile {
        display: none !important;
        background-color: red;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-mobile-s {
    @include mobile-s {
        display: none !important;
    }
}

.visible-mobile-s {
    @include mobile-s-above {
        display: none !important;
    }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    white-space: nowrap !important;
    border: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
}