@charset "UTF-8";
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}
:root {
  --font-family: "Chakra Petch", sans-serif;
  --container: 1200px;
  --container-padding-x: 16px;
  --button-height: 50px;
  --button-height-alt: 52px;
  --gradient-blue-pink: linear-gradient(90deg, #0CBAF1, #E95CE9);
  --gradient-white: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
  --transition-duration: 0.2s;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.body2-text {
  color: #B0B0B2;
  font-size: 14px;
  font-weight: 400;
}

.body3-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
    background-color: red;
  }
}

@media (min-width: 767.1px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 480.1px) {
  .visible-mobile-s {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family);
  color: #D1D1D1;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  background-color: #18181B;
}

a,
button {
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  color: red;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
}

h2 {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(32px, 2.5vw, 48px);
}

h3 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
}

h4 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
}

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  min-width: 140px;
  height: var(--button-height);
  padding: 18px 38px;
  border: 1px solid;
  border-image: var(--gradient-blue-pink) 1;
  background-color: transparent;
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--transparent {
  background-image: none;
}
.button--transparent::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--transparent span {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .button--transparent:hover::before {
    opacity: 1;
  }
}
@media (hover: none) {
  .button--transparent:active::before {
    opacity: 1;
  }
}
.button--fill::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(0px);
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--fill span {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .button--fill:hover::before {
    filter: blur(20px);
  }
}
@media (hover: none) {
  .button--fill:active::before {
    filter: blur(20px);
  }
}

.logo {
  width: 101px;
  height: 30px;
  flex-shrink: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 31px;
}
.header__menu {
  color: #fff;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(30px, 3.3333333333vw, 64px);
}
.header__link {
  height: 52px;
}
.header__link span {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@media (hover: hover) {
  .header__link-text:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .header__link-text:active {
    color: #D1D1D1;
  }
}
.header__link.is-current {
  font-weight: 500;
  cursor: default;
  pointer-events: none;
}
.header__button-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header__button {
  font-size: 16px;
  font-weight: 300;
  height: var(--button-height-alt);
  padding: 12px 24px;
}

.select-link {
  position: relative;
}
.select-link__button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
}
.select-link__button-arrow {
  margin-top: 4px;
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
.select-link__button.is-active {
  color: #D1D1D1;
}
.select-link__button.is-active span:nth-child(2) {
  rotate: 180deg;
}
@media (hover: hover) {
  .select-link__button:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .select-link__button:active {
    color: #D1D1D1;
  }
}
.select-link__list {
  --selectPadding: 15px;
  position: absolute;
  top: 100%;
  left: calc(0px - var(--selectPadding));
  width: 200px;
  padding: var(--selectPadding);
  border: 1px solid;
  border-image: var(--gradient-white) 1;
  display: none;
  flex-direction: column;
  row-gap: var(--selectPadding);
  background-color: #252532;
  transition-duration: var(--transition-duration);
}
.select-link__list.is-active {
  display: flex;
}
@media (hover: hover) {
  .select-link__option:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .select-link__option:active {
    color: #D1D1D1;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 52px;
  height: var(--button-height-alt);
  padding: 13px;
  border: 1px solid;
  border-image: var(--gradient-blue-pink) 1;
  background-color: transparent;
}
.burger-button__line {
  display: block;
  width: 13px;
  height: 2px;
  background-color: white;
  transition-duration: var(--transition-duration);
  pointer-events: none;
}
.burger-button__line::before {
  content: "";
  position: relative;
  top: -6px;
  left: -7px;
  width: 20px;
  height: 2px;
  rotate: 0;
  display: block;
  pointer-events: none;
  background-color: white;
  transition-duration: var(--transition-duration);
}
.burger-button__line::after {
  content: "";
  position: relative;
  top: 4px;
  left: 6px;
  width: 7px;
  height: 2px;
  display: block;
  rotate: 0;
  pointer-events: none;
  background-color: white;
  transition-duration: var(--transition-duration);
}
.burger-button.is-active .burger-button__line {
  width: 0;
}
.burger-button.is-active .burger-button__line::before {
  width: 25px;
  rotate: -45deg;
  translate: -17px 7px;
}
.burger-button.is-active .burger-button__line::after {
  width: 25px;
  rotate: 45deg;
  translate: -30px -5px;
}

/*# sourceMappingURL=main.css.map */
