@charset "UTF-8";
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: wrap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: wrap;
}
:root {
  --font-family: "Chakra Petch", sans-serif;
  --container: 1200px;
  --container-padding-x: 16px;
  --button-height: 50px;
  --button-height-alt: 52px;
  --gradient-blue-pink: linear-gradient(90deg, #0CBAF1, #E95CE9);
  --gradient-white: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.01));
  --transition-duration: 0.2s;
  --transition-duration-alt: 0.4s;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.body2-text {
  color: #B0B0B2;
  font-size: 14px;
  font-weight: 400;
}

.body3-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
    background-color: red;
  }
}

@media (min-width: 767.1px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (min-width: 480.1px) {
  .visible-mobile-s {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

html {
  overflow-x: hidden;
}

html.is-lock {
  overflow: hidden;
}

body {
  position: relative;
  font-family: var(--font-family);
  color: #D1D1D1;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #18181B;
}

a,
button {
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.3;
  font-size: clamp(48px, 3.3333333333vw, 64px);
}

h2 {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(32px, 2.5vw, 48px);
}

h3 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
}

h4 {
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
}

.button {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  min-width: 140px;
  height: var(--button-height);
  padding: 18px 38px;
  border: 1px solid;
  text-transform: uppercase;
  border-image: var(--gradient-blue-pink) 1;
  background-color: transparent;
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--transparent {
  background-image: none;
}
.button--transparent::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--transparent span {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .button--transparent:hover::before {
    opacity: 1;
  }
}
@media (hover: none) {
  .button--transparent:active::before {
    opacity: 1;
  }
}
.button--fill::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(0px);
  background-image: var(--gradient-blue-pink);
  transition-duration: var(--transition-duration);
}
.button--fill span {
  position: relative;
  z-index: 2;
}
@media (hover: hover) {
  .button--fill:hover::before {
    filter: blur(20px);
  }
}
@media (hover: none) {
  .button--fill:active::before {
    filter: blur(20px);
  }
}
.button--alt {
  line-height: 1.75;
  text-transform: none;
}

.logo {
  width: 101px;
  height: 30px;
  flex-shrink: 0;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .logo:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .logo:active {
    opacity: 0.8;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
}
.background-image--first {
  width: 1070px;
  height: 520px;
  left: 100%;
  translate: -100% 0;
  opacity: 0.4;
  z-index: -1;
  background: url("../../images/background-image--first.svg") top right/100% no-repeat;
}
@media (max-width: 1440px) {
  .background-image--first {
    background-size: 70%;
  }
}
@media (max-width: 767px) {
  .background-image--first {
    background-size: 50%;
  }
}
@media (max-width: 480px) {
  .background-image--first {
    background-size: 35%;
  }
}
.background-image--grid {
  width: 1097px;
  height: 721px;
  top: 184px;
  z-index: -3;
  background: url("../../images/grid.png") center left/100% no-repeat;
}
@media (max-width: 767px) {
  .background-image--grid {
    top: 400px;
  }
}
.background-image--back-hero {
  width: 567px;
  height: 340px;
  top: 0;
  left: 100%;
  translate: -100% -120%;
  z-index: -2;
  filter: blur(140px);
  background: url("../../images/background-image--second.png") top/100% no-repeat;
}

html.is-lock .header::after {
  background-color: #252532;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: rgba(37, 37, 50, 0.7);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition-duration: var(--transition-duration-alt);
}
.header.is-scrolling::after, .header.is-active::after {
  opacity: 1;
}
.header.is-active .header__inner, .header.is-scrolling .header__inner {
  padding-block: 20px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 31px;
  transition-duration: var(--transition-duration-alt);
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__menu {
  position: relative;
  z-index: 2;
  color: #fff;
}
@media (max-width: 767px) {
  .header__menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-y: auto;
    translate: -100% 0;
    padding: 100px 30px 30px 30px;
    background-color: rgba(37, 37, 50, 0.95);
    transition-duration: var(--transition-duration-alt);
  }
  .header__menu.is-active {
    translate: 0 0;
  }
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(30px, 3.3333333333vw, 64px);
}
@media (max-width: 767px) {
  .header__list {
    position: relative;
    z-index: 3;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .header__item {
    display: block;
    width: 100%;
  }
}
.header__link {
  height: 52px;
}
.header__link span {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
@media (hover: hover) {
  .header__link--a:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .header__link--a:active {
    color: #D1D1D1;
  }
}
.header__link.is-current {
  font-weight: 500;
  cursor: default;
  pointer-events: none;
}
.header__button-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header__button {
  font-size: 16px;
  font-weight: 300;
  height: var(--button-height-alt);
  padding: 12px 24px;
}
.header__button--mobile-s {
  width: 100%;
}

.select-link {
  position: relative;
}
.select-link__button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
}
.select-link__button-arrow {
  margin-top: 4px;
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  .select-link__button-arrow {
    scale: 2;
    translate: -6px 0;
  }
}
.select-link__button.is-active {
  color: #D1D1D1;
}
.select-link__button.is-active span:nth-child(2) {
  rotate: 180deg;
}
@media (hover: hover) {
  .select-link__button:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .select-link__button:active {
    color: #D1D1D1;
  }
}
.select-link__list {
  --selectPadding: 15px;
  position: absolute;
  top: 100%;
  left: calc(0px - var(--selectPadding));
  z-index: 2;
  width: 200px;
  padding: var(--selectPadding);
  border: 1px solid;
  border-image: var(--gradient-white) 1;
  display: none;
  flex-direction: column;
  row-gap: var(--selectPadding);
  background-color: #252532;
  transition-duration: var(--transition-duration-alt);
}
.select-link__list.is-active {
  display: flex;
}
@media (max-width: 767px) {
  .select-link__list {
    width: 100%;
    left: 0;
  }
}
@media (hover: hover) {
  .select-link__option:hover {
    color: #D1D1D1;
  }
}
@media (hover: none) {
  .select-link__option:active {
    color: #D1D1D1;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 52px;
  height: var(--button-height-alt);
  padding: 13px;
  border: 1px solid;
  border-image: var(--gradient-blue-pink) 1;
  background-color: transparent;
}
.burger-button__line {
  display: block;
  width: 13px;
  height: 2px;
  background-color: white;
  transition-duration: var(--transition-duration-alt);
  pointer-events: none;
}
.burger-button__line::before {
  content: "";
  position: relative;
  top: -6px;
  left: -7px;
  width: 20px;
  height: 2px;
  rotate: 0;
  display: block;
  pointer-events: none;
  background-color: white;
  transition-duration: var(--transition-duration-alt);
}
.burger-button__line::after {
  content: "";
  position: relative;
  top: 4px;
  left: 6px;
  width: 7px;
  height: 2px;
  display: block;
  rotate: 0;
  pointer-events: none;
  background-color: white;
  transition-duration: var(--transition-duration-alt);
}
.burger-button.is-active .burger-button__line {
  width: 0;
}
.burger-button.is-active .burger-button__line::before {
  width: 25px;
  rotate: -45deg;
  translate: -17px 7px;
}
.burger-button.is-active .burger-button__line::after {
  width: 25px;
  rotate: 45deg;
  translate: -30px -5px;
}

.welcome {
  padding-block: 200px 120px;
}
.welcome__content {
  max-width: 540px;
  margin-bottom: 66px;
}
@media (max-width: 1024px) {
  .welcome__content {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  .welcome__content {
    margin-bottom: 144px;
  }
}
.welcome__info {
  margin-bottom: 42px;
}
.welcome__info-text {
  margin-bottom: 32px;
}
.welcome__info-description {
  max-width: 446px;
  animation-name: info-title;
  animation-duration: 1.5s;
}
.welcome__info-description p:not(:last-child) {
  margin-bottom: 12px;
}
.welcome__info-title {
  margin-bottom: 12px;
  animation-name: info-title;
  animation-duration: 1s;
}
.welcome__info-button {
  animation-name: info-button;
  animation-duration: 1.5s;
}
.welcome__clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.welcome__clients-video {
  width: 196px;
  height: 127px;
}
.welcome__clients-video-wrapper {
  position: relative;
  background: url("../../images/video--welcome.png") center/100% no-repeat;
  transition-duration: var(--transition-duration-alt);
}
.welcome__clients-video-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 28px;
  height: 28px;
  z-index: 2;
  background: url("../../icons/play-button--welcome.svg") center/100% no-repeat;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .welcome__clients-video-wrapper:hover {
    background-size: 110%;
  }
  .welcome__clients-video-wrapper:hover::before {
    scale: 1.2;
  }
}
@media (hover: none) {
  .welcome__clients-video-wrapper:active {
    background-size: 110%;
  }
  .welcome__clients-video-wrapper:active::before {
    scale: 1.2;
  }
}
@media (max-width: 1024px) {
  .welcome__clients {
    flex-direction: column;
    align-items: start;
    row-gap: 80px;
  }
}
@media (max-width: 767px) {
  .welcome__clients {
    row-gap: 144px;
  }
}
.welcome__reaction {
  display: flex;
  align-items: center;
  column-gap: 18px;
  animation-name: clients-reaction;
  animation-duration: 1.5s;
}
.welcome__reaction p {
  display: flex;
  align-items: center;
}
.welcome__reaction p span {
  position: relative;
}
.welcome__reaction p span::after {
  content: "";
  position: absolute;
  top: 70%;
  left: -8px;
  width: 48px;
  height: 7px;
  background: url("../../images/bottom-line--welcome.png") center/100% no-repeat;
}
.welcome__features {
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 50px;
  padding: 42px 64px 53px;
  border: 1px solid;
  border-image: var(--gradient-white) 1;
  background-color: #252532;
  animation-name: welcome-features;
  animation-duration: 1.5s;
}
.welcome__features-block {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  max-width: 324px;
}
@media (max-width: 767px) {
  .welcome__features-block {
    max-width: 460px;
  }
}
.welcome__features-image {
  width: 70px;
  height: 70px;
  background: center/100% no-repeat;
}
.welcome__features-title {
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .welcome__features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .welcome__features {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}
.welcome__expertise-image {
  background-image: url("../../icons/vr-glass--welcome.svg");
}
.welcome__customization-image {
  background-image: url("../../icons/box--welcome.svg");
}
.welcome__service-image {
  background-image: url("../../icons/vr-on-hero--welcome.svg");
}
@media (max-width: 1024px) {
  .welcome__service {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .welcome__service {
    grid-column: span 1;
  }
}
.welcome__hero-image {
  width: clamp(354px, 43.8333333333vw, 526px);
  position: absolute;
  top: 0;
  left: 100%;
  z-index: -1;
  translate: -100% -100%;
  animation-name: hero;
  animation-duration: 1.5s;
}
@media (max-width: 1024px) {
  .welcome__hero-image {
    width: clamp(354px, 51.3671875vw, 526px);
  }
}
@media (max-width: 767px) {
  .welcome__hero-image {
    animation-name: hero-mobile;
    width: clamp(354px, 61.1627906977vw, 526px);
    translate: -70% -100%;
  }
}
@media (max-width: 480px) {
  .welcome__hero-image {
    animation-name: hero-mobile-s;
    translate: -50% -100%;
  }
}
.welcome__hero-background-image {
  animation-name: hero;
  animation-duration: 1.5s;
}
@media (max-width: 1024px) {
  .welcome__hero-background-image {
    width: clamp(354px, 51.3671875vw, 526px);
  }
}
@media (max-width: 767px) {
  .welcome__hero-background-image {
    animation-name: hero-mobile;
    width: clamp(354px, 61.1627906977vw, 526px);
    translate: -70% -100%;
  }
}
@media (max-width: 480px) {
  .welcome__hero-background-image {
    animation-name: hero-mobile-s;
    translate: -50% -100%;
  }
}

@keyframes info-title {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes info-description {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes info-button {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes clients-reaction {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes welcome-features {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes hero {
  from {
    opacity: 0;
    translate: -50% -100%;
  }
  to {
    opacity: 1;
    translate: -100% -100%;
  }
}
@keyframes hero-mobile {
  from {
    opacity: 0;
    translate: -50% -100%;
  }
  to {
    opacity: 1;
    translate: -70% -100%;
  }
}
@keyframes hero-mobile-s {
  from {
    opacity: 0;
    translate: 0% -100%;
  }
  to {
    opacity: 1;
    translate: -50% -100%;
  }
}

/*# sourceMappingURL=main.css.map */
