@use "sass:math";

@mixin fluid-text($min, $max) {
    $m-variable: math.div($max, 1920) * 100;

    font-size: clamp(#{$min}px, #{$m-variable}vw, #{$max}px);
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin flex-center($inline-flex: false) {
    @if $inline-flex {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}